/.well-known
/cache
/admin/assets/*
/admin/css/*
/admin/lib/*
/admin/media/*
!/admin/media/css
!/admin/assets/css
!/admin/lib/functions.php
!/admin/lib/*.php
/assets/*
!/assets/css
!/assets/fonts
!/assets/js
/images
/img
/m
/min
/nbproject
*.shtml
/test
/js/datepicker
/js/photobox
/js/t-datepicker
/node_modules
/production
/upload
/vendor
404.*
robots.txt
css_optimize.php