div.mxhft{
    display: flex;

    flex-wrap: wrap;
    z-index: 5;
    margin:20px 0;

    span{
        @include setFont(15px, #fff, 700);
        
    }
    
    a{
        img{
            max-height:40px;
        }
        &+a{
            margin-left:10px;
        }
    }
}
%mxh-style{
    @include inline-flex;
    @include align-items(center);
    
    position: relative;
    margin-bottom:10px;
    a{
        @include inline-flex;
        @include justify-content(center);
        @include align-items(center);
        
        margin-left: 9px;

        img{
            max-height: 25px;
            object-fit: scale-down;
            &:hover{
                transition: 1s;
                transform: rotate(360deg);
            }
        }
    }
    span{
        @include setFont(15px, #fff)
    }
}