#tab-content{padding: 10px;
border: 1px solid #ccc;
}
.tab-content{padding: 10px;
border: 1px solid #ccc;
border-top: 0;}
.tab-content textarea{height:100px}
.align-left{text-align:left !important}
.w-120{width:120px}
.block_menu #title{FONT-SIZE:14PX;font-weight:normal !important}
#contentwrapper #content h3{
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
}
#contentwrapper #content .btn-success,#contentwrapper #content .btn-warning{
 
font-weight: bold;
padding: 5px 20px;
}
.red{color:red}
th,td,tr,thead,table input[type=checkbox]{padding:4px !important;height:10px !important;margin:0 !important;line-height:1.5}
textarea.form-control{min-height:100px !important}
label input[type=checkbox]{

	margin-top:-4px;
}