// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
%idx-tit {}
%img-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
%idx-tit-line {
    content: "";
    background: url($images-url + "idx-l.png");
    height: 7px;
    width: 134px;
    position: relative;
    bottom: -5px;
}

.idx-tit {
    h4 {
        @include setFont(35px, #333, 600);
        text-transform: capitalize;
        span, a {
            color: #333;
        }

        &::before {
        }

        &::after {
        }
    }
    &.bdb-1{
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 10px;
        .idx-desc {
            margin-bottom: 10px;
        }
    }
    &.line-bottom{
        margin-bottom: 40px;
        position: relative;
        &:after{
            content: "";
            @include box(200px, 1px);
            position: absolute;
            background-color: #e6e6e6;
            left: 50%;
            transform: translateX(-50%);
            bottom: -16px;
        }
    }
    img {}
}

.idx-desc {
    @include setFont(15px, #808080, 400, $font-text);
}
.about-bg{
    background: url($images-url+"about-bg.jpg");
    background-size: cover;
    padding: 50px 0;
    .about-wrap{
        @include clearfix;
        .imgsp{
            display: block;
            float: right;
            width: 49%;
            img{

            }
        }

        .info{
            float: left;
            width: 49%;
            .about-head{
                &__img{
                    padding-left: 100px;
                }
                p{
                    @include setFont(35px, #f00);
                    font-family: $font-breathepro;
                }
                h2{
                    text-transform: uppercase;
                    @include setFont(30px, #e84646, 700);
                    margin-top: 0;
                }
                h5{
                    text-transform: uppercase;
                    @include setFont(16.5px, #000, 700);
                    line-height: 1.5;
                }
            }
            .about-body{
                @include setFont(15px, #333, 400);
                @include line-clamp($font-size: 15px, $line-height: 1.5, $lines-to-show: 7, $max-height: true);
                padding-left: 2em;
                border-left: 3px solid #103bd9;
                margin: 30px 0;
            }
            .xemtatca{
                display: inline-block;
                border: 2px solid #e71010;
                @include setFont(14px, #333);
                line-height: 36px;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0 20px;
            }
        }
    }
}
.tin-video-bg{
    padding: 30px 0;
    .tin-video-flex{
        @include flexbox;
        @include justify-content(space-between);
        .title{
            margin-bottom: 20px;
            span{
                @include setFont(25px, #333, 700);
                text-transform: uppercase;
                position: relative;
                display: inline-block;
                
                &::before{
                    content: "";
                    @include box(100%, 1px);
                    background-color: #ec1313;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                }
            }
            border-bottom: 1px solid #ebebeb;
        }
        .video-bg{
            width: 34.7%;
        }
        .tin-bg{
            width: 62%;
            .first-news{
                margin-bottom: 20px;
                a{
                    @include flexbox;
                    @include justify-content(space-between);
                    text-decoration: none;
                    img{
                        width: 49%;
                    }
                    .info{
                        width: 49%;
                        h5{
                            @include setFont(15px, #000, 400);
                            @include line-clamp($font-size: 15px, $line-height: 1.5, $lines-to-show: 2, $max-height: true);
                        }
                        p{
                            @include setFont(13px, #333, 400);
                            @include line-clamp($font-size: 13px, $line-height: 1.5, $lines-to-show: 3, $max-height: true);
                        }
                        span{
                            display: inline-block;
                            padding: 1em;
                            @include setFont(13px, #333, 400);
                            border: 1px solid #42a026;
                        }
                    }
                }
            }
            .tinnb-main{
                margin: 0 -1em;
                .tinnb-item{
                    padding: 0 1em;
                    a{
                        @include flexbox;
                        @include justify-content(space-between);
                        text-decoration: none;
                        figure{
                            width: 41.5%;
                            img{
                                width: 100%;
                            }
                        }
                        .info{
                            width: 55%;
                            h5{
                                @include setFont(13px, #000, 400);
                                @include line-clamp($font-size: 13px, $line-height: 1.5, $lines-to-show: 2, $max-height: true);
                            }
                            p{
                                @include setFont(13px, #333, 400);
                                @include line-clamp($font-size: 13px, $line-height: 1.5, $lines-to-show: 2, $max-height: true);
                            }
                        }
                    }
                }
            }
        }
    }
}